.t{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(115, 193, 194);
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

th, td{
    height: 10px;
    width: 300px;
    text-align: left; 
    border-radius: 20px;
    border-width: 2px;
    line-height: 10px; 
}

.c3{
    width: 150px;
}

.head{
    text-align: center;
}

.rectangle{
    margin-left: auto;
    margin-right: auto;
}

.rect{
    height:  50px;
    width: 100px;
    border-color: rgb(171, 206, 100);
    border-radius: 5px;
    border-style: solid;
    display: inline-block;
    margin-left: 10px;
}

.r1{
    border-radius: 5px;
}

.r2{
    border-radius: 10px;
}

.r3{
    border-radius: 20px;
}

.r4{
    border-radius: 7px;
}

.r5{
    border-radius: 3px;
}

.r6{
    border-radius: 20px;
}

.r7{
    border-radius: 50%;
}

.r8{
    border-radius: 1px;
}

.r9{
    border-radius: 0px 20px 0px 20px;
}